.area1{ background-color: red;}
.area2{ background-color: orange;}
.area3{ background-color: yellow;}
.area4{ background-color: green;}
.area5{ background-color: blue;}

.block{
    border : 1px solid black;
    width : 150px;
    height: 150px;
    color: white;

    display: block;
}

.inline{
    display: inline;    
}

.inline-block{
    display: inline-block;
}
/*--------------------------------*/

/*상하2분할*/
#container-1{
    border: 3px solid black;
    width: 350px;
    height: 472px;
}

/*내부 영역 분할*/
#container-1>div:first-child{
    background-color: aqua;
    height: 30%;
}

#container-1>div:nth-child(2){
    background-color: yellow;
    /*height: 70%;*/

    /*calc() 함수*/
    height: calc(472px * 0.7);
}
/*--------------------------------*/
#container-2{
    border: 3px solid black;
    width: 300px;
    height: 440px;
}

#container-2>div:first-child{
    background-color: aqua;
    height: 15%;
}

#container-2>div:nth-child(2){
    background-color: yellow;
    height: 35%;
}

#container-2>div:nth-child(3){
    background-color: lightgreen;
    height: 50%;
}
/*--------------------------------*/
/*좌우 2분할*/
#container-3{
    border: 3px solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%; /*테두리 둥글게 처리*/
    overflow: hidden; /*내부 내용이 넘칠 경우 넘치는 부분 숨김*/
}

#container-3>div{
    width:50%;
    height: 100%;
    display: inline-block;
}



/*-------------------------------*/

/*display : none; / visibility : hidden; */
.test4{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.none{
    display: none;
} /*요소는 존재하나 화면에 출력 X*/

.hidden{
    visibility: hidden;
} /*화면에 투명하게 출력*/

